:root {
  --font-bold: 800;
  --font-light: 100;
  --font-regular: 400;
  --font-family: 'Open Sans';
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/light.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/regular.ttf') format('truetype');
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/bold.ttf') format('truetype');
}