%selectable {
  cursor: pointer;

  &:hover {
    background-color: hsl(var(--color-secondary-hsl), 83%);
  }

  &:focus {
    outline-offset: 2px;
    outline: 2px solid hsl(var(--color-secondary-hsl), 75%);
  }
}