@use '../vars/font' as vars;
@use '../utils/font' as utils;

:root {
  @include utils.loadFont;

  --font-weight-bold: #{vars.$font-weight-bold};
  --font-weight-light: #{vars.$font-weight-light};
  --font-weight-regular: #{vars.$font-weight-regular};

  --line-height: 1.6;
  --font-family: vars.$font-primary;
}

body {
  color: var(--color-text);
  line-height: var(--line-height);

  font-size: 16px;
  font-family: vars.$font-primary;
  text-rendering: optimizeLegibility;
  font-weight: var(--font-weight-light);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}